footer{
  display: flex;
  padding-block: 24px;
  gap: 24px;
  text-transform: capitalize;

  justify-content: space-between;
  font: var(--text-md);
  color: var(--text-color-secondary);
}
footer span:nth-child(1){
  margin-right: auto;
}

